@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Title = "Perfil";
}
@section Styles {
    <link href="~/Content/layout.css" rel="stylesheet" />
}

<h1>Bienvenido a tu perfil</h1>
<p>Esta es la sección de perfil del usuario.</p>
