@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Title = "Seguimiento de solicitudes";
}
@section Styles {
    <link href="~/Content/layout.css" rel="stylesheet" />
}
<h1>Seguimiento de solicitudes</h1>
<p>Aquí puedes ver el estado de tus solicitudes anteriores.</p>
