@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Title = "Tramitar solicitud";
}
@section Styles {
    <link href="~/Content/layout.css" rel="stylesheet" />
}

<h1>Tramitar nueva solicitud</h1>
<p>Aquí puedes llenar un formulario para tramitar solicitudes.</p>
