@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Title = "Solicitudes Pendientes";
}
@section Styles {
    <link href="~/Content/layout.css" rel="stylesheet" />
}

<h2>Solicitudes Pendientes</h2>

