@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Title = "Revisar Solicitudes";
}
@section Styles {
    <link href="~/Content/layout.css" rel="stylesheet" />
}

<h2>Historial de Solicitudes</h2>

